</head>
<body class="bodyall bodynew">
  <h1>Create Your Zombie </h1>
  <div class="form-container">
    <%= simple_form_for(@zombie) do |f| %>
      <div>
        <%= f.input :name, label: "Name", input_html: { placeholder: "Enter zombie's name" } %>
      </div>

      <div>
        <%= f.input :price, label: "Price", input_html: { placeholder: "Enter price in USD" } %>
      </div>

      <div>
        <%= f.input :address, label: "Address", input_html: { placeholder: "Enter address" } %>
      </div>

      <div>
        <%= f.input :description, label: "Description", as: :text, input_html: { placeholder: "Describe your zombie" } %>
      </div>

      <div>
        <%= f.input :height, label: "Height", input_html: { placeholder: "Enter height" } %>
      </div>

      <div>
        <%= f.input :race, label: "Race", collection: ['Undead', 'Mutant', 'Vampire'], input_html: { class: "select-style" } %>
      </div>

      <div>
        <%= f.input :skill, label: "Skill", input_html: { placeholder: "Enter skill level" } %>
      </div>

      <div>
        <%= f.submit "Create Zombie", class: "submit-btn" %>
      </div>
    <% end %>
  </div>

</body>
</html>
